body{
    background: #58585365;
}
.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: center;
    align-items: center;
    text-align: justify;
}
#foto{
    display: inblock;
    border: 5px solid rgb(0, 0, 0);
    width: 136px;
    height:136px;
    padding:8px;
    background-color:rgb(224, 221, 12);
    
}
h1{
    margin: 1px;
}
h3{ 
    text-decoration: underline;
}
img{
    border: 2px solid rgb(0, 0, 0);
margin: 9px;
    width: 150px;
}