h1{
    color:brown;
}
img{
    width: 400px;
    
}
#thirdDiv{
          width: 500px;
          height:600px;
          padding:50px;
          border: 5px solid rgb(0, 0, 0);
          
}
#thirdDiv{
    background-color:rgb(37, 83, 168);
}
#spanId{
    font-size:18px;
    margin:50px

}