h1{
    color:rgb(76, 94, 197);
}
img{
    width: 400px;
}
#thirdDiv{
          
          width: 500px;
          height:600px;
          padding:50px;
          border: 5px solid rgb(0, 0, 0);
}

#thirdDiv{
    background-color:rgb(71, 120, 184);
}

#spanId{
    
    padding: 90px;
    
    font-size:18px;
    margin:50px;
   
}
a {
    padding: 90px;

}

body{ background: #c0c0c0 url("../imagendefondo/imgfondo.jpg")repeat-x fixed 0 0;
background-size:100%;
background-position:100%;
}
.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: center;
    align-items: center;
    text-align: center;
    }

